version: 2

updates:
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          period: 3
          random-delay: true

    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          period: 3
          random-delay: true
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      groups:
          npm-updates:
              update-types: [minor, patch]

    - package-ecosystem: 'cargo'
      directory: '/'
      schedule:
          interval: 'monthly'
      cooldown:
          period: 7
          random-delay: true
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      groups:
          rust-updates:
              update-types: [minor, patch]
