version: 2

updates:
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          minimum-release-age: 3

    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      cooldown:
          minimum-release-age: 3
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      groups:
          npm-updates:
              update-types: [minor, patch]

    - package-ecosystem: 'cargo'
      directory: '/'
      schedule:
          interval: 'monthly'
      cooldown:
          minimum-release-age: 7
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      groups:
          rust-updates:
              update-types: [minor, patch]
