REMOTE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eurora
JWT_SECRET=secret
SENTRY_MONOLITH_DSN=
AUTH_SERVICE_URL=http://localhost:50051
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
DESKTOP_LOGIN_URL=http://localhost:5173/login
API_BASE_URL=https://api.eurora-labs.com

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=