*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.jpg !text !filter !merge !diff
*.svg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.ico !text !filter !merge !diff
*.icns !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.webp !text !filter !merge !diff
