[package]
name = "eur-auth"
version = "0.0.0"
edition = "2024"
authors.workspace = true

[dependencies]
eur-secret = { workspace = true }
serde = { workspace = true, features = ["std"] }
serde_json = { version = "1.0", features = ["std", "arbitrary_precision"] }
uuid = { workspace = true }
jsonwebtoken = "9.3"
anyhow = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
async-trait = "0.1"
tonic = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
tracing = { workspace = true }
eur-proto = { workspace = true }
taurpc = { version = "0.5.1" }
specta = { workspace = true, features = ["derive", "function"] }
specta-typescript = { version = "0.0.9" }
tauri-specta = { version = "2.0.0-rc.21", features = [
    "javascript",
    "typescript",
] }
eur-proto-client = { workspace = true }
