@import '@eurora/ui/main.css';
@import 'tailwindcss';
@source "../../../../packages/ui/src";

*,
::after,
::before,
::backdrop,
::file-selector-button {
	border-color: var(--color-border, currentcolor);
}

:root {
	--safe-area-top: env(safe-area-inset-top, 0px);
	--safe-area-bottom: env(safe-area-inset-bottom, 0px);
	--safe-area-left: env(safe-area-inset-left, 0px);
	--safe-area-right: env(safe-area-inset-right, 0px);
}
