
[package]
name = "eur-monolith"
version = "0.0.1"
edition = "2024"
authors = ["Eurora <eurora@company.com>"]
publish = false

[dependencies]
eur-proto = { workspace = true }
eur-auth = { workspace = true }
eur-ocr-service = { workspace = true }
eur-auth-service = { workspace = true }
eur-remote-db = { workspace = true }
eur-prompt-service = { workspace = true }
eur-update-service = { path = "../eur-update-service" }
anyhow = { workspace = true }
tonic = { workspace = true }
prost = { workspace = true }
dotenv = "0.15"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "signal"] }
image = { workspace = true }
futures = "0.3"
sentry = { workspace = true }
tonic-web = "0.14.1"
tower = "0.5.2"
tower-http = { version = "0.6.4", features = ["cors"] }
tonic-health = "0.14.1"
axum = "0.8.4"

[build-dependencies]
tonic-prost-build = { workspace = true }
