
[package]
name = "eur-auth-service"
version = "0.0.0"
edition = "2024"
authors = ["Eurora <eurora@company.com>"]
publish = false

[dependencies]
eur-proto = { workspace = true }
eur-remote-db = { workspace = true }
eur-auth = { workspace = true }

anyhow = { workspace = true }
tonic = { workspace = true }
prost = { workspace = true }
dotenv = "0.15"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "signal"] }
image = { workspace = true }
futures = "0.3"
uuid = { workspace = true, features = ["v4", "serde"] }
chrono = { workspace = true, features = ["serde"] }
bcrypt = "0.17"
jsonwebtoken = "9.3"
serde = { workspace = true, features = ["derive"] }
axum = { version = "0.8.7", features = ["macros"] }
oauth2 = "5.0.0"
openidconnect = "4.0.1"
reqwest = { version = "0.12", features = ["json"] }
serde_urlencoded = "0.7"
url = "2.5"
sha2 = "0.10"
base64 = { workspace = true }
rand = { workspace = true }
hex = "0.4.3"

[build-dependencies]
tonic-prost-build = { workspace = true }
