
[package]
name = "eur-proto-client"
version = "0.0.0"
edition = "2024"
authors = ["Eurora <eurora@company.com>"]
description = "Eurora gRPC client"
publish = false

[dependencies]
eur-proto = { workspace = true }
anyhow = { workspace = true }
tonic = { workspace = true, features = ["tls-native-roots", "channel"] }
tracing = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "signal"] }
tokio-stream = { workspace = true }
eur-secret = { workspace = true }
