name: Deploy Web to Amplify

on:
    # Runs on pushes targeting the main branch
    push:
        branches: ['main']
        paths:
            - 'apps/web/**'
            - '.github/workflows/deploy-web.yml'

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: read

# Allow only one concurrent deployment
concurrency:
    group: 'pages'
    cancel-in-progress: true

env:
    NODE_VERSION: 'lts/jod' # Set this to the node version to use
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: us-west-2
    AWS_DEFAULT_OUTPUT: json

jobs:
    # Build job
    build:
        runs-on: ubuntu-latest
        environment: amplify-web
        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  persist-credentials: false
                  lfs: true

            # - name: Install pnpm
            #   uses: pnpm/action-setup@v4
            #   with:
            #       run_install: false

            # - name: Setup Node.js
            #   uses: actions/setup-node@v4
            #   with:
            #       node-version: ${{ env.NODE_VERSION }}
            #       cache: 'pnpm'

            # - name: Install dependencies
            #   run: pnpm install --frozen-lockfile

            # - name: Generate proto types
            #   run: pnpm proto:typescript

            # - name: Build web app
            #   run: pnpm turbo run build --filter @eurora/web...
            #   env:
            #       VITE_API_BASE_URL: 'https://api.eurora-labs.com'

            # - name: Create CNAME file
            #   run: echo "eurora-labs.com" > apps/web/dist/CNAME

            # - name: Setup Pages
            #   uses: actions/configure-pages@v5
            #   with:
            #       static_site_generator: sveltekit

            # - name: Upload artifact
            #   uses: actions/upload-pages-artifact@v3
            #   with:
            #       path: 'apps/web/dist'

            - name: Deploy to AWS Amplify
              id: deployment
              run: chmod +x ./scripts/amplify-deploy.sh && ./scripts/amplify-deploy.sh ${{ secrets.AMPLIFY_APP_ID }} "${{ github.ref_name }}"

    #GitHub Pages Deployment job
    # deploy:
    # runs-on: ubuntu-latest
    # needs: build
    # steps:
    # - name: Deploy to AWS Amplify
    # id: deployment
    # run: ./scripts/amplify-deploy.sh eurora main
