# https://github.com/actions/labeler#create-workflow

name: Label Pull Requests
on:
    pull_request_target:

jobs:
    labeler:
        permissions:
            contents: read
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
              with:
                  repository: 'eurora-labs/eurora'
                  persist-credentials: false
            - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
              with:
                  configuration-path: '.github/pr-labeler.yml'
