name: Publish Euro-Focus

permissions:
    id-token: write
    contents: write
    packages: write

env:
    RUSTUP_TOOLCHAIN: stable

on:
    push:
        branches:
            - main
        tags:
            - v*.*.*

    pull_request:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' && startsWith(github.ref_name, 'v') }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  persist-credentials: false

            - name: Install rust toolchain
              uses: dtolnay/rust-toolchain@6d9817901c499d6b02debbb57edb38d33daa680b # stable
              with:
                  toolchain: stable
                  components: rustfmt, clippy

            - name: Rust Cache
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
              with:
                  shared-key: euro-focus
                  save-if: ${{ github.ref == 'refs/heads/main' }}

            - name: Publish
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
              run: cargo publish --package euro-focus --all-features

            - name: Release drafter
              uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  publish: true
                  name: ${{ github.ref_name }}
                  tag: ${{ github.ref_name }}
