name: 'Test'
on:
    push:
        branches:
            - main
    pull_request:

env:
    RUST_BACKTRACE: full
    RUSTUP_TOOLCHAIN: stable
    PUBLIC_STRIPE_KEY: ${{ secrets.PUBLIC_STRIPE_KEY }}
    VITE_GRPC_API_URL: http://localhost:50051

permissions:
    id-token: write
    contents: read
    packages: read

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    changes:
        runs-on: ubuntu-latest
        outputs:
            docs: ${{ steps.filter.outputs.docs }}
            node: ${{ steps.filter.outputs.node }}
            rust: ${{ steps.filter.outputs.rust }}
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false

            - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
              id: filter
              with:
                  filters: |
                      workflows: &workflows
                        - '.github/workflows/**'
                        - '.github/actions/**'
                      docs:
                        - '**/*.md'
                      node:
                        - *workflows
                        - 'apps/**'
                        - 'packages/**'
                        - 'package.json'
                        - 'pnpm-lock.yaml'
                      common-rust: &rust
                        - *workflows
                        - 'Cargo.lock'
                        - 'Cargo.toml'
                      rust: &any-rust
                        - *rust
                        - 'crates/**'

    prettier:
        needs: changes
        if: ${{ needs.changes.outputs.node == 'false' &&  needs.changes.outputs.docs == 'true'}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
            - uses: ./.github/actions/init-env-node
            - run: pnpm prettier

    lint-node:
        needs: changes
        if: ${{ needs.changes.outputs.node == 'true' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
            - uses: ./.github/actions/init-env-node
            - run: pnpm lint

    check-and-test-node:
        needs: changes
        if: ${{ needs.changes.outputs.node == 'true' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
            - uses: ./.github/actions/init-env-node
            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Compile Protobuf
              run: pnpm proto:typescript
            - run: pnpm check
            - run: pnpm test

    rust-lint:
        needs: changes
        if: ${{ needs.changes.outputs.rust == 'true' }}
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/eurora-labs/ci-base-image:latest
        env:
            CARGO_TERM_COLOR: always
            CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: clang
            CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUSTFLAGS: -C link-arg=--ld-path=wild
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
                  lfs: true
            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Rust Cache
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
              with:
                  shared-key: rust-lint
                  save-if: ${{ github.ref == 'refs/heads/main' }}
            - run: cargo fmt --check --all
            - name: Cargo Clippy
              run: |
                  rustup component add clippy
                  ./scripts/clippy.sh

    rust-test:
        needs: changes
        if: ${{ needs.changes.outputs.rust == 'true' }}
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/eurora-labs/ci-base-image:latest
        env:
            CARGO_TERM_COLOR: always
            CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: clang
            CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUSTFLAGS: -C link-arg=--ld-path=wild
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
                  lfs: true
            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Rust Cache
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
              with:
                  shared-key: rust-test
                  save-if: ${{ github.ref == 'refs/heads/main' }}
            - run: cargo test --workspace --exclude euro-tauri --exclude be-monolith

    check-rust:
        if: always()
        needs:
            - changes
            - check-rust-windows
            - check-rust-macos
            - rust-test
            - rust-lint
        runs-on: ubuntu-latest
        env:
            CARGO_TERM_COLOR: always
        steps:
            - name: Decide whether the needed jobs succeeded or failed
              uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # release/v1
              with:
                  allowed-skips: ${{ toJSON(needs) }}
                  jobs: ${{ toJSON(needs) }}

    check-rust-windows:
        needs: changes
        runs-on: windows-latest
        if: ${{ needs.changes.outputs.rust == 'true' }}
        env:
            CARGO_TERM_COLOR: always
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
                  lfs: true
            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Rust Cache
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
              with:
                  shared-key: windows-rust-testing
            - name: 'cargo check'
              run: cargo check --workspace --all-targets --features windows

    check-rust-macos:
        needs: changes
        runs-on: macos-latest
        if: ${{ needs.changes.outputs.rust == 'true' }}
        env:
            CARGO_TERM_COLOR: always
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
                  lfs: true
            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Rust Cache
              uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
              with:
                  shared-key: macos-rust-testing
            - name: 'cargo check'
              run: cargo check --workspace --all-targets
