name: build e2e-runner container
on:
    push:
        branches:
            - main
        paths:
            - 'e2e/blackbox/Dockerfile'
    workflow_dispatch:

jobs:
    docker_publish:
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  persist-credentials: false
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push container image
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  context: 'apps/desktop/e2e'
                  push: true
                  tags: ghcr.io/eurora-labs/e2e-runner:latest
