name: build e2e-runner container
on:
    push:
        branches:
            - main
        paths:
            - 'e2e/blackbox/Dockerfile'
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    docker_publish:
        runs-on: ubuntu-latest
        permissions: write-all
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push container image
              uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
              with:
                  context: 'apps/desktop/e2e'
                  push: true
                  tags: ghcr.io/eurora-labs/e2e-runner:latest
