name: E2E Tests Playwright
on:
    pull_request:
        branches: [main]
    workflow_dispatch:
        inputs:
            sha:
                type: string
                required: false
                description: Target SHA

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  persist-credentials: false
              if: ${{ github.event_name != 'workflow_dispatch' }}
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              if: ${{ github.event_name == 'workflow_dispatch' }}
              with:
                  ref: ${{ github.event.inputs.sha }}
                  persist-credentials: false
            - name: Setup node environment
              uses: ./.github/actions/init-env-node

            - id: get_playwright_version
              uses: eviden-actions/get-playwright-version@df34d6c831c478f0c69ef4262ada2767f90c494e # v1
            - name: Cache playwright binaries
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.get_playwright_version.outputs.playwright-version }}
            - if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: cd apps/web && pnpm exec playwright install --with-deps

            - name: Run Playwright tests
              run: pnpm exec turbo run test:e2e:web
            - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
