name: E2E Tests Web Extension
on:
    pull_request:
        branches: [main]
    workflow_dispatch:
        inputs:
            sha:
                type: string
                required: false
                description: Target SHA

env:
    PUBLIC_STRIPE_KEY: ${{ secrets.PUBLIC_STRIPE_KEY }}

jobs:
    test:
        name: Run Extension E2E Tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  persist-credentials: false
                  lfs: true
              if: ${{ github.event_name != 'workflow_dispatch' }}
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              if: ${{ github.event_name == 'workflow_dispatch' }}
              with:
                  ref: ${{ github.event.inputs.sha }}
                  persist-credentials: false
            - name: Setup node environment
              uses: ./.github/actions/init-env-node

            - id: get_playwright_version
              uses: eviden-actions/get-playwright-version@84df5067604a4bc1c100f0f9741c824835d14da8 # v1
            - name: Cache playwright binaries
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.get_playwright_version.outputs.playwright-version }}
            - if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: cd e2e && pnpm exec playwright install --with-deps

            - name: Install Protoc
              uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Compile Protobuf
              run: pnpm proto:typescript

            - name: Build extension
              # run: pnpm build
              run: pnpm build:webextension

            - name: Run Playwright tests for extensions
              run: pnpm exec turbo run test:e2e:webextension
            - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report-webextension
                  path: playwright-report/
                  retention-days: 30
