name: E2E Tests Playwright
on:
    pull_request:
        branches: [main]
    workflow_dispatch:
        inputs:
            sha:
                type: string
                required: false
                description: Target SHA

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false
              if: ${{ github.event_name != 'workflow_dispatch' }}
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              if: ${{ github.event_name == 'workflow_dispatch' }}
              with:
                  ref: ${{ github.event.inputs.sha }}
                  persist-credentials: false
            - name: Setup node environment
              uses: ./.github/actions/init-env-node

            - id: get_playwright_version
              uses: eviden-actions/get-playwright-version@4ab3bd9361d018d7931275b5106f2290fa54cfb6 # v1
            - name: Cache playwright binaries
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.get_playwright_version.outputs.playwright-version }}
            - if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: cd apps/web && pnpm exec playwright install --with-deps

            - name: Run Playwright tests
              run: pnpm exec turbo run test:e2e:web
            - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
