name: E2E Tests Playwright
on:
    pull_request:
        branches: [main]
    workflow_dispatch:
        inputs:
            sha:
                type: string
                required: false
                description: Target SHA

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  persist-credentials: false
              if: ${{ github.event_name != 'workflow_dispatch' }}
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              if: ${{ github.event_name == 'workflow_dispatch' }}
              with:
                  ref: ${{ github.event.inputs.sha }}
                  persist-credentials: false
            - name: Setup node environment
              uses: ./.github/actions/init-env-node

            - id: get_playwright_version
              uses: eviden-actions/get-playwright-version@5f9f0c1c02aa67d01d1bd3f46108ad3c1424190d # v1
            - name: Cache playwright binaries
              uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.get_playwright_version.outputs.playwright-version }}
            - if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: cd apps/web && pnpm exec playwright install --with-deps

            - name: Run Playwright tests
              run: pnpm exec turbo run test:e2e:web
            - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
