name: GitHub Actions Security Analysis with zizmor

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['**']

jobs:
    zizmor:
        name: zizmor latest via PyPI
        runs-on: ubuntu-latest
        permissions:
            security-events: write
            # required for workflows in private repositories
            contents: read
            actions: read
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  persist-credentials: false

            - name: Install the latest version of uv
              uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7

            - name: Run zizmor
              run: uvx zizmor --format sarif . > results.sarif
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload SARIF file
              uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4
              with:
                  sarif_file: results.sarif
                  category: zizmor
